    <mat-toolbar color="primary" >     
      <span >Town of Babylon</span>
      <span class="example-spacer"></span>
      <button mat-button [matMenuTriggerFor]="appMenu"><mat-icon>menu</mat-icon></button>     
    </mat-toolbar>

    <mat-menu #appMenu="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="settingsMenu" > Settings </button>
      <button mat-menu-item> Contact </button>
    </mat-menu>

    <mat-menu #settingsMenu="matMenu">
      <button mat-menu-item>Shut down</button>
      <button mat-menu-item>Restart</button>
      <button mat-menu-item>Hibernate</button>
    </mat-menu>
    
    <br/>
    <mat-toolbar color="primary">  
               
      <button mat-button onclick="window.location.href = '/'" target="_self">Home</button>    
      <button  mat-button [matMenuTriggerFor]="residentsMenu" >Residents</button>
      <button mat-button [matMenuTriggerFor]="businessMenu" >Business</button>
      <button mat-button [matMenuTriggerFor]="visitorsMenu" >Visitors</button>
       <button mat-button [matMenuTriggerFor]="governmentMenu">Government</button>   
    </mat-toolbar> 

     <mat-menu #residentsMenu="matMenu">
      <button mat-menu-item onClick="window.open('https://secure.townofbabylon.com/recreation/wbwsc/webtrac.wsc/wbsplash.html');" >Parks and Recreation</button>     
      <button mat-menu-item [matMenuTriggerFor]="wyandanchMenu" >Wyandanch Resource Center</button>
    </mat-menu> 

    <mat-menu #visitorsMenu="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="aboutMenu">About Babylon</button> 
      <button mat-menu-item onClick="window.open('https://secure.townofbabylon.com/recreation/wbwsc/webtrac.wsc/wbsplash.html');" >Parks and Recreation</button>
      <button mat-menu-item [matMenuTriggerFor]="veteransMenu">Veterans</button>       
    </mat-menu> 

    <mat-menu #aboutMenu="matMenu">
      <button mat-menu-item onClick="window.open('http://www.townofbabylon.com/index.aspx?NID=102');">Demographics</button>
      <button mat-menu-item [matMenuTriggerFor]="historyMenu">History</button>
      <button mat-menu-item onClick="window.open('http://www.townofbabylon.com/index.aspx?NID=97');">Schools</button>
      <button mat-menu-item onClick="window.open('http://www.townofbabylon.com/index.aspx?NID=241');">Libraries</button>
      <button mat-menu-item onClick="window.open('http://www.townofbabylon.com/index.aspx?NID=95');">Fire Departments</button>
    </mat-menu>

    <mat-menu #historyMenu="matMenu">
      <button mat-menu-item onClick="window.open('http://www.townofbabylon.com/index.aspx?NID=290');">Old Town Hall</button>
      <button mat-menu-item onClick="window.open('http://www.townofbabylon.com/index.aspx?NID=278');">Town History</button>
      <button mat-menu-item onClick="window.open('http://www.townofbabylon.com/index.aspx?NID=94');">Villages and Hamlets</button>
    </mat-menu>

    <mat-menu #veteransMenu="matMenu">
    </mat-menu>

    <mat-menu #businessMenu="matMenu">
    </mat-menu>

    <mat-menu #governmentMenu="matMenu">
    </mat-menu>
   

    <mat-menu #wyandanchMenu="matMenu">
      <button mat-menu-item onClick="window.open('http://www.townofbabylon.com/index.aspx?NID=334');">Wyandanch  Center</button>
      <button mat-menu-item onClick="window.open('http://www.townofbabylon.com/index.aspx?NID=335');">Programs and Services</button>
      <button mat-menu-item onClick="window.open('http://www.townofbabylon.com/index.aspx?NID=336');">Partners and Community Organizations</button>
    </mat-menu>

