<!-- From Web site https://itnext.io/using-angular-6-material-auto-complete-with-async-data-6d89501c4b79 -->
<form  class="example-form form-inline text-light" [formGroup]='usersForm'>
  <mat-form-field class="example-full-width text-light" color="accent">
    <input class="example-full-width" matInput placeholder="Choose a user" [matAutocomplete]="auto" formControlName='userInput' color="accent">
  </mat-form-field>
  <span>Your choice is: {{usersForm.get('userInput').value | json}}</span>

  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <!-- old version; updates since it is a straight array
      <mat-option *ngFor="let user of (filteredUsers | async)?.results" [value]="user">
       -->
      <mat-option *ngFor="let doc of (filteredDocs | async)" [value]="doc">
        <!-- old version; note new version string values already includes the span with a class
        <span>{{ user.name }}</span>
        <small> | ID: {{user.id}}</small>
        -->
        <span>{{ doc.value }}</span>      
      </mat-option>
  </mat-autocomplete>
</form>
